* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 30px;
}

.grid {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr 1fr 3fr;

    /* design responsivo */
    /* grid-template-columns: repeat(auto-fill, minmax(320px, 1fr)); */
    gap: 20px;
}

.grid div {
    background-color: tomato;
    min-height: 100px;
}

.grid div:nth-child(5) {
    background-color: darkred;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
}