* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 25px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-rows: 100px 1fr 50px;
    grid-template-columns: 200px 1fr;
    grid-template-areas:
        'header header'
        'nav main'
        'rodape rodape';
}


/* header, nav, main e rodape pode ser
qualquer nome */
.grid div:nth-child(1) {
    background-color: red;
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.grid div:nth-child(2) {
    background-color: yellowgreen;
    grid-area: nav;
}

.grid div:nth-child(3) {
    background-color: violet;
    grid-area: main;
}

.grid div:nth-child(4) {
    background-color: turquoise;
    grid-area: rodape;
}

.grid {
    /* max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr 1fr 3fr; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */

    /* design responsivo */
    /* grid-template-columns: repeat(auto-fill, minmax(320px, 1fr)); */

}

/* .grid div {
    background-color: tomato;
    min-height: 100px;
}

.grid div:nth-child(5) {
    background-color: darkred;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
} */


@media (max-width: 768px) {
    .grid {
        padding: 10px;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto;
        grid-template-areas:
            'header '
            'main'
            'nav'
            'rodape';
    }
}