* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.grid {
    padding: 15px;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 73px;
}

.grid::after {
    content: '';
    display: block;
    clear: both;
}

.grid .col {
    width: 33.33%;
    height: 300px;
    float: left;
    padding: 15px;
}

.grid .col-content {
    width: 100%;
    height: 100%;
    background-color: red;
}

.menu{
    width: 100%;
    position: fixed;
    background-color: black;
}

.menu ul{
    list-style: none;
    display: block;
    max-width: 1200px;
    padding: 0 35px;
    margin: 0 auto;
}

.menu ul li{
    float: left;
}

.menu ul li a{
    display: block;
    color: white;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}

.menu ul li a:hover{
    background-color: #333;
}

.full-page {
    padding: 0 30px;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 73px;
    height: 100vh;
    background-color: turquoise;
}

@media  (max-width: 320px) {
    .grid .col {
        width: 100%;
    }
}

@media  (min-width: 321px) and (max-width: 768px) {
    .grid .col {
        width: 50%;
    }
}

@media all and  (max-width: 568px) {
    .grid .col {
        width: 100%;
    }
}

/* ul{
    height: 100px;
    overflow-y: auto;
}

ul li.sticky{
    position: sticky;
    background-color: gray;
    top: 0;
} */

/* .pai {}

.filha1,
.filha2 {
    width: 200px;
    height: 200px;
    background-color: red;
    margin: 10px;
    position: static;
}

.filha2 {
    background-color: greenyellow;
}

.filha1 {
    position: absolute;
    top: 0px;
} */


/* p{
    color: red;
    background-color: yellow;
    font-style: italic;
    font-weight: bold;
    direction: rtl;
    letter-spacing: 1px;
    text-decoration: overline;
    word-spacing: 5px;
    text-indent: 50px;
    text-shadow: 2px 2px red;
    line-height: 30px; 
    text-align: left;
    font-size: 20px;  
} */



/* html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}



.pai {
    width: 50rem;
    height: 100vh;
    background: yellow;
    overflow: hidden;
}

.pai > div{
    width: 50%;
    height: 50rem;
    background-color: blue;
}

p {
    font-size: 1.6rem;
}

.color-one {
    background-color: turquoise;
}

.color-two {
    background-color: violet;
}

 */


/* .grid {
    padding: 15px;

}

.grid::after {
    content: '';
    display: block;
    clear: both;
}

.grid .col {
    width: 33.33%;
    height: 300px;
    float: left;
    padding: 15px;
}

.grid .col-content {
    width: 100%;
    height: 100%;
    background-color: #abc123;
} */

/* p{
    text-align: justify;
    font-size: 18px;
}

p::first-letter{
    font-size: 150px;
    display: block;
    float: left;
    margin: 0 20px 20px 0;
    color: red;
}

p::selection{
    background-color: black;
    color: #fff;
} */


/* li{
    padding: 8px;
    margin: 10px 0px;
}

ul li::after{
    content: " - ";
} */

/* ul li:nth-child(odd) {
    background-color: rebeccapurple;
}

ul li:nth-child(even) {
    background-color: darkturquoise;
}

ul li:nth-child(3n) {
    background-color: deeppink;
}

ul li:nth-child(3n + 5) {
    background-color: yellow;
} */












/* input:checked + p{
    color: red;
}

input:not(:checked) + p{
    background: yellowgreen;
}

p:not(.meio){
    color: blue;
} */


/* .heading{
    transition: all 300ms ease-in-out;
}

.heading:hover{
background: red;
} */

/* .pai h1+p{
    color: red;
}

.pai p+h1{
    color: yellow;
}

[meu-atributo="valor1"]{
    color: blue;
}


[meu-atributo~="valor1"]{
    color: deeppink;
} */

/* .color-red {
    color: red;
}

.main-content h2 {
    font-style: italic;
}

.main-content .heading {
    color: purple;
}

div {
    color: initial;
    margin-left: 20px;
}

.pai > .filha{
    color: blue;
}

.pai > .filha > .filha{
    color: red;
} */

/* p,
h1 {
    color: blue;
} */

/* o ultimo elemento é o "atingido", no caso o p e o h1 */
/* body div section p,
body div section h1 {
    color: red;
} */